* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body {
  font-family: 'Mona Sans', -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #222222;
  color: #9D988E;
  min-height: 100vh;
  height: 100vh;
  overflow-x: hidden;
}

#root {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 4rem;
  height: 100vh;
}

@media (max-width: 768px) {
  #root {
    padding: 1rem;
    align-items: center;
    justify-content: center;
  }
}
